<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricos</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/home.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>VEHÍCULOS ELECTRICOS</h2> <br>
   <p>Los autos eléctricos son vehículos impulsados exclusivamente por motores eléctricos, los cuales 
    obtienen energía de baterías recargables. Este tipo de vehículos se ha popularizado por su impacto 
    positivo en el medio ambiente, ya que no emiten gases contaminantes durante su funcionamiento. Además, 
    presentan un menor costo de operación en comparación con los autos de combustión interna, debido a su 
    eficiencia energética y al menor número de piezas móviles, lo que reduce el desgaste y el mantenimiento. 
    <br>
    <img  src="../images/Electricos.jpg" alt="Card 1"><br>
    Entre sus características principales destacan el motor silencioso, la aceleración rápida y la posibilidad 
    de carga en casa mediante estaciones domésticas o en puntos de carga rápida. Las baterías de iones de 
    litio, comúnmente utilizadas, ofrecen una buena densidad energética, permitiendo que los autos alcancen 
    autonomías de 200 a 400 km por carga en modelos de gama media. La adopción de autos eléctricos no solo 
    reduce la dependencia de combustibles fósiles, sino que también fomenta el uso de energía renovable para 
    la carga. Aquí se muestran dos modelos populares:<br>
    <img  src="../images/electrico1.jpg" alt="Card 1"><br>
    </p>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>