<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gasolina</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/home.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>VEHÍCULOS TERRESTRES DE CARGA</h2> <br>
   <p>Los vehículos de gasolina son aquellos que utilizan motores de combustión interna, en los que el 
    combustible se mezcla con aire y se enciende mediante una chispa de la bujía. Este tipo de vehículos ha 
    sido predominante en el mercado durante décadas debido a su tecnología madura, disponibilidad de 
    infraestructura y relativa simplicidad en comparación con otras fuentes de energía. La gasolina es 
    altamente eficiente para producir energía instantánea, lo que permite que estos vehículos ofrezcan buena 
    aceleración y una gran potencia, factores valorados especialmente en autos de alto rendimiento.<br><br>
    Entre las ventajas de los vehículos de gasolina, se encuentran el rápido reabastecimiento y la amplia 
    disponibilidad de estaciones de servicio. A nivel mecánico, presentan una estructura sencilla que 
    facilita su mantenimiento y reparación, siendo más económicos en el corto plazo en comparación con 
    algunos vehículos eléctricos o híbridos. Sin embargo, estos vehículos emiten gases de efecto invernadero 
    y otros contaminantes, lo que contribuye al cambio climático y la contaminación atmosférica.

    </p>
    <div class="video-container">
    <h2>Información sobre vehículos de gasolina</h2>
    <p>
        Los vehículos de gasolina han sido ampliamente utilizados por su potencia y disponibilidad...
        <!-- Añade más contenido descriptivo aquí -->
    </p>

    <!-- Video incrustado de YouTube -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SdY9m0NJzks?si=D5iQiWy9JJCnINhi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>