<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehículos</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/home.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>VEHÍCULOS TERRESTRES DE CARGA</h2> <br>
   <p>El transporte terrestre de carga — que se efectúa utilizando camiones— ofrece una variedad de opciones 
    para satisfacer las necesidades logísticas de distintos tipos de mercancías. Ya sea haciendo uso de 
    camiones articulados o rígidos, cada uno tiene sus propias ventajas y aplicaciones específicas. <br>
    Los vehículos terrestres de carga son esenciales en el transporte de mercancías, ya que permiten mover 
    grandes volúmenes de productos de manera eficiente y rápida. Existen diversos tipos de camiones, como los 
    camiones rígidos, que integran la cabina y el área de carga en una sola unidad, y los camiones articulados, 
    que incluyen un remolque independiente. Estos vehículos están diseñados para transportar desde bienes de 
    consumo hasta materiales de construcción y maquinaria pesada.
    <br>
    <img  src="../images/vehiculo-carga.jpg" alt="Card 1"><br>
    La elección del tipo de camión a ocupar dependerá de factores como la naturaleza de la carga, la 
    distancia a recorrer, los requisitos de tiempo y la eficiencia logística. Al comprender estas 
    diferencias, los profesionales de la logística pueden tomar decisiones informadas para optimizar sus 
    envíos por tierra.<br>
    <img  src="../images/VehículoTerrestre.jpg" alt="Card 1"><br>
    </p>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>