<footer id="footer">
    <div class="inner">
        <p>Contacto</p>

        <form action="#" method="post">
            <div class="actions">
                <h3 class="redes">Nombre completo: Gela Karina Antonia Chumil Cosiguá</h3>
                <h3 class="redes">Carné: 2290-20-13606</h3>
            <ul class="icons">
                <img src="./images/logos_facebook.png" alt="Facebook" class="social-icon">
                <img src="./images/skill-icons_instagram.png" alt="Instagram" class="social-icon">
        </ul>
        </div>
        
        </form>
    </div>
</footer>
