<nav>
    <div class="caja1">
        <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
        <label for="menu-toggle" class="menu-toggle">☰</label>
        <div class="menu-links">
            <a href="/">Inicio</a>
            <a href="/diesel">DIESEL</a>
            <a href="/electricos">ELECTRICOS</a>
            <a href="/gasolina">GASOLINA</a>
        </div>
    </div>
</nav>